/*GENERELA STARTED */
/* CONTENER STARTED*/
.contener {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

/*CONTENER END*/
/*FOOTER STARTED*/
.footer {
  width: 1440px;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #fff;
  margin-top: -50px;
}

.footer_menu {
  width: 1440px;
  height: 96px;
  background: #333a44;
  margin-top: -1.2px;
}

.menu_atimmm img {
  margin-left: 168px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_li {
  list-style-type: none;
  margin-left: 33px;
}

.atim_menu {
  margin-left: 59px;
}

.footer_li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.footer_li a:hover {
  color: #fcb72b;
}

.menu_link-img {
  margin-left: 571px;
}

.menu_link-img svg {
  margin-right: 24px;
}

svg {
  fill: #fcb72b;
}

svg:hover {
  fill: #e5ecf4;
}

/*FOOTER END*/
/* HEADER STARTED */
.header {
  width: 1440px;
  height: 806px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #fff;
}

.main {
  width: 1440px;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 167px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 100;
  background-color: #fff;
}

.nav_menu {
  margin-right: 200px;
}

.menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.title_link {
  font-family: "Space Mono",sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  text-decoration: none;
  margin-right: 32px;
}

.title_link:hover {
  color: #fcb72b;
}

.button {
  width: 180px;
  height: 53px;
  font-family: "Space Mono",sans-serif;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background-color: #fcb72b;
  color: #fff;
}

.button:hover {
  width: 180px;
  height: 53px;
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: #fff;
}

.header_img {
  position: relative;
  width: 1440px;
  height: 650px;
  background-image: url(../img/Bitmap2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.img_list {
  width: 180px;
  height: 53px;
  position: absolute;
  top: 153px;
  bottom: 152px;
  left: 165px;
}

.list_text {
  width: 500px;
  height: 112 px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
}

.list_p {
  position: relative;
  width: 405px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.list_p::after {
  position: absolute;
  display: inline-block;
  content: "";
  left: -265px;
  bottom: 40px;
  width: 203px;
  height: 15px;
  background-image: url(../img/Path333.png);
  background-repeat: no-repeat;
}

.list_p::before {
  position: absolute;
  display: inline-block;
  width: 447px;
  height: 138px;
  content: "";
  left: 430px;
  top: 42px;
  background-image: url(../img/Group8Copy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.grouppp {
  display: none;
}

/* HEADER END */
/* MAIN  STARTED */
.section {
  width: 1275px;
  height: 291px;
  margin-top: 160px;
}

.span1 {
  width: 974px;
  height: 15px;
  background-color: #e5ecf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}

.span2 {
  width: 96px;
  height: 96px;
  background: #fcb72b;
  border: 2px solid #fcb72b;
  border-radius: 50%;
  margin-left: 165px;
  background-image: url(../img/CombinedShape1.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center center;
}

.span3 {
  width: 96px;
  height: 96px;
  background: #fcb72b;
  border: 2px solid #fcb72b;
  border-radius: 50%;
  margin-left: 100px;
  background-image: url(../img/Shape2.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center center;
}

.span4 {
  width: 96px;
  height: 96px;
  background: #fcb72b;
  border: 2px solid #fcb72b;
  border-radius: 50%;
  margin-left: 100px;
  background-image: url(../img/CombinedShape3.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center center;
}

.section_menu {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 165px;
}

.atim_text {
  width: 350px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.atim_p {
  width: 350px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-right: 30px;
}

.section2_page {
  position: relative;
  width: 1619px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 266px;
}

.page_main {
  width: 445px;
  height: 313px;
  margin-left: 165px;
}

.main_h3 {
  width: 445px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.main_h3::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url(../img/Mask.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 1px;
  left: 1350px;
  overflow: hidden;
}

.main_pargirif {
  width: 445px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-bottom: 40px;
}

.main_pargirif::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 740px;
  height: 150px;
  background-image: url(../img/Group32.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 180px;
  bottom: 5px;
}

.search {
  margin-left: 220px;
}

.widget {
  position: relative;
  width: 1660px;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}

.widget_menu {
  margin-left: 165px;
}

.widget_atim {
  width: 445px;
  height: 313px;
  margin-left: 220px;
}

.widget_text {
  width: 445px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.widget_pargif {
  width: 445px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-bottom: 40px;
}

.widget_text::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 735px;
  height: 138px;
  background-image: url(../img/Group13Copy.png);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
  right: 927px;
  bottom: 305px;
}

.widget_pargif::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url(../img/Mask.png);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 1px;
  right: 1560px;
}

.aside_menu {
  position: relative;
  width: 1655px;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 266px;
}

.aside_atim {
  width: 445px;
  height: 313px;
  margin-left: 165px;
}

.aside_minu {
  margin-left: 220px;
}

.asise_img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

.aside_tetx {
  width: 445px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.aside_tetx::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url(../img/Mask.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 1px;
  left: 1350px;
  overflow: hidden;
}

.aside_paragirf {
  width: 445px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-bottom: 40px;
}

.aside_paragirf::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 740px;
  height: 150px;
  background-image: url(../img/Group17.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: -167px;
  top: 75px;
}

.sidebar {
  width: 1440px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #495567;
  margin-top: 200px;
}

.sidebar_grid {
  width: 500px;
  height: 96px;
  margin-left: 165px;
  margin-top: 102px;
  margin-bottom: 102px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #fff;
}

.sidebar_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 336px;
}

.box1 {
  width: 159px;
  height: 56px;
  background: #e5ecf4;
  border-radius: 4px;
  margin-right: 18px;
}

.box1 h4 {
  width: 92px;
  height: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -.446429px;
  color: #495567;
  margin-left: 52px;
  margin-top: 8px;
}

.box1 h5 {
  position: relative;
  width: 92px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -.892857px;
  color: #495567;
  margin-left: 52px;
  margin-bottom: 9px;
}

.box1 h5::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-image: url(../img/CombinedShape.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 100px;
  bottom: 10px;
  width: 24px;
  height: 21px;
}

.box2 {
  width: 159px;
  height: 56px;
  background: #e5ecf4;
  border-radius: 4px;
}

.box2 h4 {
  width: 92px;
  height: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -.446429px;
  color: #495567;
  margin-left: 52px;
  margin-top: 8px;
}

.box2 h5 {
  position: relative;
  width: 92px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -.892857px;
  color: #495567;
  margin-left: 52px;
  margin-bottom: 9px;
}

.box2 h5::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-image: url(../img/Shape12.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 100px;
  bottom: 10px;
  width: 24px;
  height: 21px;
}

/*  MAIN END- */
/*GENERELA END */
/* MAIN  STARTED */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5ecf4;
  font-family: "Space Mono",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono",sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Lexend Deca",sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  *, ::after, ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #fff;
    font-family: "Space Mono",sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono",sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  p {
    font-family: "Lexend Deca",sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a {
    list-style-type: none;
  }
  .header {
    width: 768px;
    height: 730px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
  }
  .contener {
    width: 768px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 34px 39px;
  }
  .main {
    width: 768px;
    margin-left: 350px;
  }
  .section4 {
    width: 573px;
    height: 304px;
  }
  .nav_menu {
    margin-right: 40px;
  }
  .menu_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    margin-left: 58px;
  }
  .title_link {
    font-family: "Space Mono",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    margin-right: 32px;
  }
  .title_link:hover {
    color: #fcb72b;
  }
  .button_link {
    margin-left: 130px;
  }
  .button {
    width: 180px;
    height: 53px;
    font-family: "Space Mono",sans-serif;
    border: none;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background-color: #fcb72b;
    color: #fff;
  }
  .button:hover {
    width: 180px;
    height: 53px;
    border: 3px solid #fcb72b;
    color: #fcb72b;
    background-color: #fff;
  }
  .header_img {
    position: relative;
    width: 768px;
    height: 650px;
    background-image: url(../img/Bitmap22.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .img_list {
    width: 573px;
    height: 296px;
    position: absolute;
    top: 153px;
    bottom: 152px;
    left: 165px;
  }
  .list_text {
    width: 573px;
    height: 112 px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -2.5px;
    color: #fff;
    margin-left: -60px;
  }
  .list_p {
    position: relative;
    width: 573px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: -50px;
  }
  .list_p::after {
    position: absolute;
    display: inline-block;
    width: 447px;
    height: 138px;
    content: "";
    left: -265px;
    top: 130px;
    background-image: url(../img/Group8Copy.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .list_p::before {
    display: none;
  }
  .section {
    width: 573px;
    height: 470px;
    margin-top: 160px;
  }
  .span1 {
    position: absolute;
    z-index: 0;
    width: 974px;
    height: 15px;
    background-color: #e5ecf4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 38px;
    margin-left: -700px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .span2 {
    width: 96px;
    height: 96px;
    background: #fcb72b;
    border: 2px solid #fcb72b;
    border-radius: 50%;
    margin-left: 465px;
    background-image: url(../img/CombinedShape1.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .span3 {
    width: 96px;
    height: 96px;
    background: #fcb72b;
    border: 2px solid #fcb72b;
    border-radius: 50%;
    margin-left: 150px;
    background-image: url(../img/Shape2.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .span4 {
    width: 96px;
    height: 96px;
    background: #fcb72b;
    border: 2px solid #fcb72b;
    border-radius: 50%;
    margin-left: 100px;
    background-image: url(../img/CombinedShape3.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .section_menu {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -165px;
  }
  .atim_text {
    width: 398px;
    height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-bottom: 27px;
  }
  .atim_p {
    width: 398px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .section2_page {
    position: relative;
    width: 573px;
    height: 304px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 566px;
  }
  .page_main {
    width: 573px;
    height: 304px;
    margin-left: -365px;
  }
  .main_h3 {
    width: 445px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
    margin-left: -20px;
  }
  .main_h3::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 445px;
    height: 445px;
    background-image: url(../img/Mask.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 330px;
    left: 350px;
    overflow: hidden;
    z-index: 1;
  }
  .main_pargirif {
    width: 573px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939caa;
    margin-left: -80px;
    margin-bottom: 40px;
  }
  .main_pargirif::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 740px;
    height: 150px;
    background-image: url(../img/Group32.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 150px;
    bottom: 350px;
    z-index: 0;
  }
  .search {
    margin-left: -490px;
    margin-bottom: 56px;
  }
  .widget {
    position: relative;
    width: 573px;
    height: 304px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 160px;
  }
  .widget_menu {
    margin-left: -490px;
    margin-bottom: 56px;
  }
  .widget_atim {
    width: 445px;
    height: 313px;
    margin-left: -365px;
  }
  .widget_text {
    width: 563px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
    margin-left: -130px;
  }
  .widget_pargif {
    width: 573px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939caa;
    margin-bottom: 40px;
    margin-left: -120px;
  }
  .widget_text::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 735px;
    height: 138px;
    background-image: url(../img/Group13Copy.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    right: 927px;
    bottom: 305px;
  }
  .widget_pargif::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 445px;
    height: 445px;
    background-image: url(../img/Mask.png);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: -700px;
    overflow: hidden;
    z-index: 1;
  }
  .aside_menu {
    position: relative;
    width: 573px;
    height: 304px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1166px;
  }
  .aside_atim {
    width: 573px;
    height: 304px;
    margin-left: -365px;
  }
  .aside_minu {
    margin-left: -490px;
    margin-bottom: 56px;
  }
  .button_linkk {
    margin-left: 70px;
  }
  .asise_img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }
  .widget_text::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 735px;
    height: 138px;
    background-image: url(../img/Group13Copy.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    right: 927px;
    bottom: -105px;
  }
  .aside_menu {
    position: relative;
    width: 573px;
    height: 304px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1100px;
  }
  .aside_atim {
    width: 573px;
    height: 304px;
    margin-left: -365px;
  }
  .aside_tetx {
    width: 457px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
    margin-left: -10px;
  }
  .aside_tetx::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 445px;
    height: 445px;
    background-image: url(../img/Mask.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    bottom: 350px;
    left: 350px;
  }
  .aside_paragirf {
    width: 573px;
    height: 73px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939caa;
    margin-bottom: 40px;
    margin-left: -80px;
  }
  .aside_paragirf::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 740px;
    height: 150px;
    background-image: url(../img/Group17.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: -250px;
    top: -410px;
    z-index: 0;
  }
  .sidebar {
    display: none;
  }
  .footer {
    width: 768px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #fff;
    margin-top: 1100px;
  }
  .footer_menu {
    width: 768px;
    height: 96px;
    background: #333a44;
    margin-top: 100px;
    margin-bottom: 350px;
  }
  .menu_atimmm img {
    margin-left: 40px;
  }
  .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_li {
    list-style-type: none;
    margin-left: 33px;
  }
  .atim_menu {
    margin-left: 59px;
  }
  .footer_li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  .footer_li a:hover {
    color: #fcb72b;
  }
  .menu_link-img {
    margin-left: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_link-img svg {
    margin-right: 24px;
  }
  svg {
    fill: #fcb72b;
  }
  svg:hover {
    fill: #e5ecf4;
  }
}

@media only screen and (max-width: 450px) {
  *, ::after, ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #e5ecf4;
    font-family: "Space Mono",sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono",sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  p {
    font-family: "Lexend Deca",sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a {
    list-style-type: none;
  }
  .header {
    width: 375px;
    height: 730px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
  }
  .contener {
    width: 327px;
    margin: 0 auto;
    border: 1px solid #fff;
  }
  .nav_menu {
    display: none;
  }
  .button {
    display: none;
  }
  .img {
    margin: 0 auto;
  }
  .grouppp {
    display: block;
  }
  .main {
    margin-left: 20px;
  }
}

/*  MAIN END- */
/*# sourceMappingURL=main.css.map */