@import "block/generla";
/* MAIN  STARTED */
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5ecf4;
    font-family: "Space Mono", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    list-style-type: none;
}
@media only screen and (max-width: 768px) {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #fff;
        font-family: "Space Mono", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Space Mono", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    p {
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a {
        list-style-type: none;
    }
    .header {
        width: 768px;
        height: 730px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #fff;
        margin: 0 auto;
    }
    .contener {
        width: 768px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #fff;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 39px;
    }
    .main {
        width: 768px;
        margin-left: 350px;
    }
    .section4 {
        width: 573px;
        height: 304px;
    }
    .nav_menu {
        margin-right: 40px;
    }
    .menu_title {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: 58px;
    }
    .title_link {
        font-family: "Space Mono", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939caa;
        margin-right: 32px;
    }
    .title_link:hover {
        color: #fcb72b;
    }
    .button_link {
        margin-left: 130px;
    }
    .button {
        width: 180px;
        height: 53px;
        font-family: "Space Mono", sans-serif;
        border: none;
        color: #fff;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        background-color: #fcb72b;
        color: #fff;
    }
    .button:hover {
        width: 180px;
        height: 53px;
        border: 3px solid #fcb72b;
        color: #fcb72b;
        background-color: #fff;
    }
    .header_img {
        position: relative;
        width: 768px;
        height: 650px;
        background-image: url(../img/Bitmap22.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }
    .img_list {
        width: 573px;
        height: 296px;
        position: absolute;
        top: 153px;
        bottom: 152px;
        left: 165px;
    }
    .list_text {
        width: 573px;
        height: 112 px;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -2.5px;
        color: #fff;
        margin-left: -60px;
    }
    .list_p {
        position: relative;
        width: 573px;
        height: 75px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-top: 24px;
        margin-bottom: 32px;
        margin-left: -50px;
    }
    .list_p::after {
        position: absolute;
        display: inline-block;
        width: 447px;
        height: 138px;
        content: "";
        left: -265px;
        top: 130px;
        background-image: url(../img/Group8Copy.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .list_p::before {
        display: none;
    }
    .section {
        width: 573px;
        height: 470px;
        margin-top: 160px;
    }
    .span1 {
        position: absolute;
        z-index: 0;
        width: 974px;
        height: 15px;
        background-color: #e5ecf4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 38px;
        margin-left: -700px;
        transform: rotate(90deg);
    }
    .span2 {
        width: 96px;
        height: 96px;
        background: #fcb72b;
        border: 2px solid #fcb72b;
        border-radius: 50%;
        margin-left: 465px;
        background-image: url(../img/CombinedShape1.svg);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center center;
        transform: rotate(270deg);
    }
    .span3 {
        width: 96px;
        height: 96px;
        background: #fcb72b;
        border: 2px solid #fcb72b;
        border-radius: 50%;
        margin-left: 150px;
        background-image: url(../img/Shape2.svg);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center center;
        transform: rotate(270deg);
    }
    .span4 {
        width: 96px;
        height: 96px;
        background: #fcb72b;
        border: 2px solid #fcb72b;
        border-radius: 50%;
        margin-left: 100px;
        background-image: url(../img/CombinedShape3.svg);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center center;
        transform: rotate(270deg);
    }
    .section_menu {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        margin-left: -165px;
    }
    .atim_text {
        width: 398px;
        height: 28px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        margin-bottom: 27px;
    }
    .atim_p {
        width: 398px;
        height: 75px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939caa;
        margin-right: 30px;
        margin-bottom: 40px;
    }
    .section2_page {
        position: relative;
        width: 573px;
        height: 304px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 566px;
    }
    .page_main {
        width: 573px;
        height: 304px;
        margin-left: -365px;
    }
    .main_h3 {
        width: 445px;
        height: 96px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        margin-bottom: 24px;
        margin-left: -20px;
    }
    .main_h3::after {
        display: inline-block;
        position: absolute;
        content: "";
        width: 445px;
        height: 445px;
        background-image: url(../img/Mask.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 330px;
        left: 350px;
        overflow: hidden;
        z-index: 1;
    }
    .main_pargirif {
        width: 573px;
        height: 75px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #939caa;
        margin-left: -80px;
        margin-bottom: 40px;
    }
    .main_pargirif::before {
        display: inline-block;
        position: absolute;
        content: "";
        width: 740px;
        height: 150px;
        background-image: url(../img/Group32.png);
        background-repeat: no-repeat;
        background-size: contain;
        right: 150px;
        bottom: 350px;
        z-index: 0;
    }
    .search {
        margin-left: -490px;
        margin-bottom: 56px;
    }
    .widget {
        position: relative;
        width: 573px;
        height: 304px;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;
    }
    .widget_menu {
        margin-left: -490px;
        margin-bottom: 56px;
    }
    .widget_atim {
        width: 445px;
        height: 313px;
        margin-left: -365px;
    }
    .widget_text {
        width: 563px;
        height: 96px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        margin-bottom: 24px;
        margin-left: -130px;
    }
    .widget_pargif {
        width: 573px;
        height: 75px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #939caa;
        margin-bottom: 40px;
        margin-left: -120px;
    }
    .widget_text::before {
        display: inline-block;
        position: absolute;
        content: "";
        width: 735px;
        height: 138px;
        background-image: url(../img/Group13Copy.png);
        z-index: 1;
        background-repeat: no-repeat;
        background-size: contain;
        right: 927px;
        bottom: 305px;
    }
    .widget_pargif::before {
        display: inline-block;
        position: absolute;
        content: "";
        width: 445px;
        height: 445px;
        background-image: url(../img/Mask.png);
        z-index: 0;
        background-repeat: no-repeat;
        background-size: contain;
        top: 5px;
        left: -700px;
        overflow: hidden;
        z-index: 1;
    }
    .aside_menu {
        position: relative;
        width: 573px;
        height: 304px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1166px;
    }
    .aside_atim {
        width: 573px;
        height: 304px;
        margin-left: -365px;
    }
    .aside_minu {
        margin-left: -490px;
        margin-bottom: 56px;
    }
    .button_linkk {
        margin-left: 70px;
    }
    .asise_img {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }
    .widget_text::before {
        display: inline-block;
        position: absolute;
        content: "";
        width: 735px;
        height: 138px;
        background-image: url(../img/Group13Copy.png);
        z-index: 1;
        background-repeat: no-repeat;
        background-size: contain;
        right: 927px;
        bottom: -105px;
    }
    .aside_menu {
        position: relative;
        width: 573px;
        height: 304px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1100px;
    }
    .aside_atim {
        width: 573px;
        height: 304px;
        margin-left: -365px;
    }
    .aside_tetx {
        width: 457px;
        height: 96px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        margin-bottom: 24px;
        margin-left: -10px;
    }
    .aside_tetx::after {
        display: inline-block;
        position: absolute;
        content: "";
        width: 445px;
        height: 445px;
        background-image: url(../img/Mask.png);
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        bottom: 350px;
        left: 350px;
    }
    .aside_paragirf {
        width: 573px;
        height: 73px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #939caa;
        margin-bottom: 40px;
        margin-left: -80px;
    }
    .aside_paragirf::after {
        display: inline-block;
        position: absolute;
        content: "";
        width: 740px;
        height: 150px;
        background-image: url(../img/Group17.png);
        background-repeat: no-repeat;
        background-size: contain;
        right: -250px;
        top: -410px;
        z-index: 0;
    }
    .sidebar {
        display: none;
    }
    .footer {
        width: 768px;
        background: #fff;
        margin: 0 auto;
        border: 1px solid #fff;
        margin-top: 1100px;
    }
    .footer_menu {
        width: 768px;
        height: 96px;
        background: #333a44;
        margin-top: 100px;
        margin-bottom: 350px;
    }
    .menu_atimmm img {
        margin-left: 40px;
    }
    .footer_menu {
        display: flex;
        align-items: center;
    }
    .footer_ul {
        display: flex;
    }
    .footer_li {
        list-style-type: none;
        margin-left: 33px;
    }
    .atim_menu {
        margin-left: 59px;
    }
    .footer_li a {
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939caa;
    }
    .footer_li a:hover {
        color: #fcb72b;
    }
    .menu_link-img {
        margin-left: 153px;
        display: flex;
        align-items: center;
    }
    .menu_link-img svg {
        margin-right: 24px;
    }
    svg {
        fill: #fcb72b;
    }
    svg:hover {
        fill: #e5ecf4;
    }
}
@media only screen and (max-width: 450px) {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #e5ecf4;
        font-family: "Space Mono", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Space Mono", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    p {
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a {
        list-style-type: none;
    }
    .header {
        width: 375px;
        height: 730px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #fff;
        margin: 0 auto;
    }
    .contener {
        width: 327px;
        margin: 0 auto;
        border: 1px solid #fff;
    }
    .nav_menu {
        display: none;
    }
    .button {
        display: none;
    }
    .img {
        margin: 0 auto;
    }
    .grouppp {
        display: block;
    }
    .main {
        margin-left: 20px;
    }
}


/*  MAIN END- */