/*FOOTER STARTED*/ 

.footer{
    width: 1440px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid rgb(255, 255, 255) ;
    margin-top: -50px;
}
.footer_menu{
    width: 1440px;
    height: 96px;
    background: #333A44;
    margin-top: -1.2px;
}
.menu_atimmm img{
    margin-left: 168px;
}
.footer_menu{
    display: flex;
    align-items: center;
}
.footer_ul{
    display: flex;
}
.footer_li{
    list-style-type: none;
    margin-left: 33px;
    
}
.atim_menu{
    margin-left: 59px;
}
.footer_li a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.footer_li a:hover{
    color: #FCB72B;
}
.menu_link-img{
    margin-left: 571px;
}
.menu_link-img  svg{
    margin-right: 24px;
}
svg{
    fill: #FCB72B;
}
svg:hover{
    fill: #E5ECF4;
}







/*FOOTER END*/